<div class="card mt-2 mx-2">
    <div class="card-header text-center text-blue">
        <strong>Add Task</strong>
    </div>
    <div class="card-body">
        <form [formGroup]="taskForm" (ngSubmit)="add()">
            <div class="form-group">
                <label class="text-blue" for="title">Title</label>
                <input type="text" formControlName="title" class="form-control" id="title" placeholder="Enter Title">
                <app-control-messages [control]="taskForm.get('title')"></app-control-messages>
            </div>
            <div class="form-group">
                <label class="text-blue" for="desc">Desciption</label>
                <input type="text" formControlName="desc" class="form-control" id="desc" placeholder="Enter Desciption">
                <app-control-messages [control]="taskForm.get('desc')"></app-control-messages>
            </div>
            <div class="form-select mb-3" aria-label="Default select example">
                <label class="text-blue" for="status">Status</label>
                <select  formControlName="status" class="form-control" id="status">
                    <option *ngFor="let status of stats" [value]="status.value">{{ status.title }}</option>
                </select>
            </div>
            <div class="form-select mb-3" aria-label="Default select example">
                <label class="text-blue" for="people">Assigned to</label>
                <select  formControlName="people" class="form-control" id="people">
                    <option value="">Select</option>
                    <option *ngFor="let user of userData" [value]="user._id">{{ user.name }}</option>
                </select>
            </div>
            
            
            <button class="btn btn-secondary mr-2" (click)="back()">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>