<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <img src="assets/logo-nav.png" class="logo-nav mr-2"> -->
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mr-3" (click)="onClick(1)"   [ngClass]="{'active': tab==='tab1'}">
        <a class="nav-link" routerLink="/home">
          <i class="fa fa-home" style="font-size: 22px;"></i>
        </a>
      </li>
      <li class="nav-item mr-3" (click)="onClick(2)"   [ngClass]="{'active': tab==='tab2'}">
        <a class="nav-link" routerLink="/resumeDashboard">
          <i class="fa fa-file" style="font-size: 22px;"></i>
        </a>
      </li>
      <li class="nav-item mr-3" (click)="onClick(3)"   [ngClass]="{'active': tab==='tab3'}">
        <a class="nav-link" routerLink="/myResume">
          <i class="fa fa-tv" style="font-size: 22px;"></i>
        </a>
      </li>
      <!-- <li class="nav-item mr-3" (click)="onClick(4)"   [ngClass]="{'active': tab==='tab4'}">
        <a class="nav-link" routerLink="/users">
          <i class="fa fa-users" style="font-size: 22px;"></i>
        </a>
      </li>
      <li class="nav-item mr-3" (click)="onClick(5)"   [ngClass]="{'active': tab==='tab5'}">
        <a class="nav-link" routerLink="/tasks">
          <i class="fa fa-tasks" style="font-size: 22px;"></i>
        </a>
      </li> -->
    </ul>
    <span style="cursor: pointer;" class="navbar-text mr-2" (click)="logout()">
      <i class="fa fa-sign-out-alt text-red" style="font-size: 22px;"></i>
    </span>
  </div>
</nav>

