<div class="card mt-2 mx-auto" *ngIf="currSection == 'personalDetails'">
    <div class="card-header text-center text-blue">
        <strong>Edit Personal Details</strong>
    </div>
    <div class="card-body">
        <form [formGroup]="personalForm" (ngSubmit)="save('personalDetails', datas._id)">
            <div class="form-group">
                <label class="text-blue" for="job_title">Job Title</label>
                <input type="text"  formControlName="job_title" class="form-control" id="job_title" [ngModel]="datas?.job_title">
            </div>
            <div class="form-group">
                <label class="text-blue" for="fname">First Name</label>
                <input type="text" formControlName="fname" class="form-control" id="fname" [ngModel]="datas?.fname">
            </div>
            <div class="form-group">
                <label class="text-blue" for="lname">Last Name</label>
                <input type="text" formControlName="lname" class="form-control" id="lname" [ngModel]="datas?.lname">
            </div>
            <div class="form-group">
                <label class="text-blue" for="email">Email</label>
                <input type="text" formControlName="email" class="form-control" id="email" [ngModel]="datas?.email">
            </div>
            <div class="form-group">
                <label class="text-blue" for="phone">Phone</label>
                <input type="text" formControlName="phone" class="form-control" id="phone" [ngModel]="datas?.phone">
            </div>
            
            <button class="btn btn-secondary mr-2" (click)="back()">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="card mt-2 mx-auto" *ngIf="currSection == 'summary'">
    <div class="card-header text-center text-blue">
        <strong>Edit Summary</strong>
    </div>
    <div class="card-body">
        <form [formGroup]="summaryForm" (ngSubmit)="save('summary', datas._id)">
            <div class="form-group">
                <label class="text-blue" for="summary_desc">Summary</label>
                <input type="text" formControlName="summary_desc" class="form-control" id="summary_desc" [ngModel]="datas?.summary_desc">
            </div>

            <button class="btn btn-secondary mr-2" (click)="back()">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="card mt-2 mx-auto" *ngIf="currSection == 'employment'">
    <div class="card-header text-center text-blue">
        <strong>Edit Employment History</strong>
    </div>
    <div class="card-body">
        <form [formGroup]="employmentForm" (ngSubmit)="save('employment', datas._id)">
            <div class="form-group">
                <label class="text-blue" for="startdate">Start Date</label>
                <input type="date" formControlName="startdate" class="form-control" id="startdate" [ngModel]="datas?.startdate">
            </div>
            <div class="form-group">
                <label class="text-blue" for="enddate">End Date</label>
                <input type="date" formControlName="enddate" class="form-control" id="enddate" [ngModel]="datas?.enddate">
            </div>
            <div class="form-group">
                <label class="text-blue" for="title">Job Title</label>
                <input type="text" formControlName="title" class="form-control" id="title" [ngModel]="datas?.title">
            </div>
            <div class="form-group">
                <label class="text-blue" for="company_name">Company</label>
                <input type="text" formControlName="company_name" class="form-control" id="company_name" [ngModel]="datas?.company_name">
            </div>

            <button class="btn btn-secondary mr-2" (click)="back()">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="card mt-2 mx-auto" *ngIf="currSection == 'education'">
    <div class="card-header text-center text-blue">
        <strong>Edit Education Background</strong>
    </div>
    <div class="card-body">
        <form [formGroup]="educationForm" (ngSubmit)="save('education', datas._id)">
            <div class="form-group">
                <label class="text-blue" for="startdate">Start Date</label>
                <input type="date" formControlName="startdate" class="form-control" id="startdate" [ngModel]="datas?.startdate">
            </div>
            <div class="form-group">
                <label class="text-blue" for="enddate">End Date</label>
                <input type="date" formControlName="enddate" class="form-control" id="enddate" [ngModel]="datas?.enddate">
            </div>
            <div class="form-group">
                <label class="text-blue" for="title">Education Level</label>
                <input type="text" formControlName="title" class="form-control" id="title" [ngModel]="datas?.title">
            </div>
            <div class="form-group">
                <label class="text-blue" for="school">School</label>
                <input type="text" formControlName="school" class="form-control" id="school" [ngModel]="datas?.school">
            </div>
            <div class="form-group">
                <label class="text-blue" for="result">Result</label>
                <input type="text" formControlName="result" class="form-control" id="result" [ngModel]="datas?.result">
            </div>

            <button class="btn btn-secondary mr-2" (click)="back()">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="card mt-2 mx-auto" *ngIf="currSection == 'skill'">
    <div class="card-header text-center text-blue">
        <strong>Edit Skill</strong>
    </div>
    <div class="card-body">
        <form [formGroup]="skillForm" (ngSubmit)="save('skill', datas._id)">
            <div class="form-group">
                <label class="text-blue" for="title">Title</label>
                <input type="text" formControlName="title" class="form-control" id="title" [ngModel]="datas?.title">
            </div>
            <div class="form-select mb-3" aria-label="Default select example">
                <label class="text-blue" for="score">Status</label>
                <select  formControlName="score" class="form-control" id="score" [ngModel]="datas?.score">
                    <option *ngFor="let score of skor" [value]="score.value">{{ score.title }}</option>
                </select>
            </div>

            <button class="btn btn-secondary mr-2" (click)="back()">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="card mt-2 mx-auto" *ngIf="currSection == 'language'">
    <div class="card-header text-center text-blue">
        <strong>Edit Language</strong>
    </div>
    <div class="card-body">
        <form [formGroup]="langugaeForm" (ngSubmit)="save('language', datas._id)">
            <div class="form-group">
                <label class="text-blue" for="title">Title</label>
                <input type="text" formControlName="title" class="form-control" id="title" [ngModel]="datas?.title">
            </div>
            <div class="form-select mb-3" aria-label="Default select example">
                <label class="text-blue" for="score">Status</label>
                <select  formControlName="score" class="form-control" id="score" [ngModel]="datas?.score">
                    <option *ngFor="let score of skor" [value]="score.value">{{ score.title }}</option>
                </select>
            </div>

            <button class="btn btn-secondary mr-2" (click)="back()">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="card mt-2 mx-auto" *ngIf="currSection == 'reference'">
    <div class="card-header text-center text-blue">
        <strong>Edit Reference</strong>
    </div>
    <div class="card-body">
        <form [formGroup]="referenceForm" (ngSubmit)="save('reference', datas._id)">
            <div class="form-group">
                <label class="text-blue" for="name">Name</label>
                <input type="text" formControlName="name" class="form-control" id="name" [ngModel]="datas?.name">
            </div>
            <div class="form-group">
                <label class="text-blue" for="title">Title</label>
                <input type="text" formControlName="title" class="form-control" id="title" [ngModel]="datas?.title">
            </div>
            <div class="form-group">
                <label class="text-blue" for="company">Company Name</label>
                <input type="text" formControlName="company" class="form-control" id="company" [ngModel]="datas?.company">
            </div>
            <div class="form-group">
                <label class="text-blue" for="email">Email</label>
                <input type="text" formControlName="email" class="form-control" id="email" [ngModel]="datas?.email">
            </div>
            <div class="form-group">
                <label class="text-blue" for="phone">Contact No</label>
                <input type="text" formControlName="phone" class="form-control" id="phone" [ngModel]="datas?.phone">
            </div>

            <button class="btn btn-secondary mr-2" (click)="back()">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>