@page {
    size: A4;
    margin: 0;
}
@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

.card {
    width: 60%;
    background-color: #C3C3CB;
}

.cont {
    max-height: 91%;
    overflow: auto;
}
