<div class="cont">
    <div class="card mx-auto mt-2">
        <div class="card-body">
            <div id="wrapper">
                <div class="wrapper-top"></div>
                <div class="wrapper-mid">
                  <!-- Begin Paper -->
                  <div id="paper">
                    <div class="paper-top"></div>
                    <div id="paper-mid">
                      <div class="entry">
                        <!-- Begin Image -->
                        <img class="" src="assets/images/2.jpeg" alt="John Smith" />
                        <!-- End Image -->
                        <!-- Begin Personal Information -->
                        <div class="self">
                          <h1 class="name">{{ personaldetails?.fname }} {{ personaldetails?.lname }}<br />
                            <span>{{ personaldetails?.job_title }}</span></h1>
                          <ul>
                            <li class="mail">{{ personaldetails?.email }}</li>
                            <li class="tel">{{ personaldetails?.phone }}</li>
                          </ul>
                        </div>
                        <!-- End Personal Information -->
                        <!-- Begin Social -->
                        
                        <!-- End Social -->
                      </div>
                      <!-- Begin 1st Row -->
                      <div class="entry">
                        <h2>SUMMARY</h2>
                        <p>{{ summary?.summary_desc }}</p>
                      </div>
                      <!-- End 1st Row -->
                      <!-- Begin 2nd Row -->
                      <div class="entry">
                        <h2>EDUCATION</h2>
                        <div class="content" *ngFor="let education of educations, let i of index">
                          <h3>{{  education?.startdate }}<br>{{ education?.enddate }}</h3>
                          <p>{{ education?.school }} <br />
                            <em>{{ education?.title }}</em>
                            <em>{{ education?.result }}</em></p>
                        </div>
                      </div>
                      <!-- End 2nd Row -->
                      <!-- Begin 3rd Row -->
                      <div class="entry">
                        <h2>EXPERIENCE</h2>
                        <div class="content" *ngFor="let employment of employments, let i of index">
                          <h3>{{  employment?.startdate }}<br>{{ employment?.enddate }}</h3>
                          <p>{{  employment?.company_name }}<br />
                            <em>{{  employment?.title }}</em></p>
                          <!-- <ul class="info">
                            <li>Vestibulum eu ante massa, sed rhoncus velit.</li>
                            <li>Pellentesque at lectus in <a href="#">libero dapibus</a> cursus. Sed arcu ipsum, varius at ultricies acuro, tincidunt iaculis diam.</li>
                          </ul> -->
                        </div>
                      </div>
                      <!-- End 3rd Row -->
                      <!-- Begin 4th Row -->
                      <div class="entry">
                        <h2>SKILLS</h2>
                        <div class="content">
                          <h3>Software Knowledge</h3>
                          <ul class="skills">
                            <li *ngFor="let skill of skills, let i of index">
                                {{ skill?.title }}
                            </li>
                          </ul>
                        </div>
                        <div class="content">
                          <h3>Languages</h3>
                          <ul class="skills">
                            <li *ngFor="let language of languages, let i of index">
                                {{ language?.title }}
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- End 4th Row -->
                       <!-- Begin 5th Row -->
                      <div class="entry">
                      <h2>REFERENCES</h2>
                        <div class="" *ngFor="let reference of references, let i of index">
                            <p>{{ reference?.name }}<br />
                                <em>{{ reference?.title }}</em>
                                <em>{{ reference?.company }}</em>
                                <em>{{ reference?.email }}</em>
                                <em>{{ reference?.phone }}</em>
                            </p>
                        </div>
                      </div>
                      <!-- Begin 5th Row -->
                    </div>
                    <div class="clear"></div>
                    <div class="paper-bottom"></div>
                  </div>
                  <!-- End Paper -->
                </div>
                <div class="wrapper-bottom"></div>
              </div>
        </div>
    </div>    
</div>