<div class="card mt-2 mx-auto" *ngIf="currSection == 'personalDetails'">
    <div class="card-header text-center text-blue">
        <strong>Add Personal Details</strong>
    </div>
    <div class="card-body">
        <form [formGroup]="personalForm" (ngSubmit)="add('personalDetails')">
            <div class="form-group">
                <label class="text-blue" for="job_title">Job Title</label>
                <input type="text" formControlName="job_title" class="form-control" id="job_title" placeholder="Enter Job Title">
                <app-control-messages [control]="personalForm.get('job_title')"></app-control-messages>
            </div>
            <div class="form-group">
                <label class="text-blue" for="fname">First Name</label>
                <input type="text" formControlName="fname" class="form-control" id="fname" placeholder="Enter First Name">
                <app-control-messages [control]="personalForm.get('fname')"></app-control-messages>
            </div>
            <div class="form-group">
                <label class="text-blue" for="lname">Last Name</label>
                <input type="text" formControlName="lname" class="form-control" id="lname" placeholder="Enter Last Name">
                <app-control-messages [control]="personalForm.get('lname')"></app-control-messages>
            </div>
            <div class="form-group">
                <label class="text-blue" for="email">Email</label>
                <input type="text" formControlName="email" class="form-control" id="email" placeholder="Enter Email">
                <app-control-messages [control]="personalForm.get('email')"></app-control-messages>
            </div>
            <div class="form-group">
                <label class="text-blue" for="phone">Phone</label>
                <input type="text" formControlName="phone" class="form-control" id="phone" placeholder="Enter Phone Number">
                <app-control-messages [control]="personalForm.get('phone')"></app-control-messages>
            </div>
            
            <button class="btn btn-secondary mr-2" (click)="back()">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="card mt-2 mx-auto" *ngIf="currSection == 'summary'">
    <div class="card-header text-center text-blue">
        <strong>Add Summary</strong>
    </div>
    <div class="card-body">
        <form [formGroup]="summaryForm" (ngSubmit)="add('summary')">
            <div class="form-group">
                <label class="text-blue" for="summary_desc">Summary</label>
                <input type="text" formControlName="summary_desc" class="form-control" id="summary_desc" placeholder="Enter Summary">
                <app-control-messages [control]="summaryForm.get('summary_desc')"></app-control-messages>
            </div>

            <button class="btn btn-secondary mr-2" (click)="back()">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="card mt-2 mx-auto" *ngIf="currSection == 'employment'">
    <div class="card-header text-center text-blue">
        <strong>Add Employment History</strong>
    </div>
    <div class="card-body">
        <form [formGroup]="employmentForm" (ngSubmit)="add('employment')">
            <div class="form-group">
                <label class="text-blue" for="startdate">Start Date</label>
                <input type="date" formControlName="startdate" class="form-control" id="startdate">
                <app-control-messages [control]="employmentForm.get('startdate')"></app-control-messages>
            </div>
            <div class="form-group">
                <label class="text-blue" for="enddate">End Date</label>
                <input type="date" formControlName="enddate" class="form-control" id="enddate">
                <app-control-messages [control]="employmentForm.get('enddate')"></app-control-messages>
            </div>
            <div class="form-group">
                <label class="text-blue" for="title">Job Title</label>
                <input type="text" formControlName="title" class="form-control" id="title" placeholder="Enter Job Title">
                <app-control-messages [control]="employmentForm.get('title')"></app-control-messages>
            </div>
            <div class="form-group">
                <label class="text-blue" for="company_name">Company</label>
                <input type="text" formControlName="company_name" class="form-control" id="company_name" placeholder="Enter Company Name">
                <app-control-messages [control]="employmentForm.get('company_name')"></app-control-messages>
            </div>

            <button class="btn btn-secondary mr-2" (click)="back()">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="card mt-2 mx-auto" *ngIf="currSection == 'education'">
    <div class="card-header text-center text-blue">
        <strong>Add Education Background</strong>
    </div>
    <div class="card-body">
        <form [formGroup]="educationForm" (ngSubmit)="add('education')">
            <div class="form-group">
                <label class="text-blue" for="startdate">Start Date</label>
                <input type="date" formControlName="startdate" class="form-control" id="startdate">
                <app-control-messages [control]="educationForm.get('startdate')"></app-control-messages>
            </div>
            <div class="form-group">
                <label class="text-blue" for="enddate">End Date</label>
                <input type="date" formControlName="enddate" class="form-control" id="enddate">
                <app-control-messages [control]="educationForm.get('enddate')"></app-control-messages>
            </div>
            <div class="form-group">
                <label class="text-blue" for="title">Education Level</label>
                <input type="text" formControlName="title" class="form-control" id="title" placeholder="Enter Education Level">
                <app-control-messages [control]="educationForm.get('title')"></app-control-messages>
            </div>
            <div class="form-group">
                <label class="text-blue" for="school">School</label>
                <input type="text" formControlName="school" class="form-control" id="school" placeholder="Enter School Name">
                <app-control-messages [control]="educationForm.get('school')"></app-control-messages>
            </div>
            <div class="form-group">
                <label class="text-blue" for="result">Result</label>
                <input type="text" formControlName="result" class="form-control" id="result" placeholder="Enter Result">
                <app-control-messages [control]="educationForm.get('result')"></app-control-messages>
            </div>

            <button class="btn btn-secondary mr-2" (click)="back()">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="card mt-2 mx-auto" *ngIf="currSection == 'skill'">
    <div class="card-header text-center text-blue">
        <strong>Add Skill</strong>
    </div>
    <div class="card-body">
        <form [formGroup]="skillForm" (ngSubmit)="add('skill')">
            <div class="form-group">
                <label class="text-blue" for="title">Title</label>
                <input type="text" formControlName="title" class="form-control" id="title" placeholder="Enter Title">
                <app-control-messages [control]="skillForm.get('title')"></app-control-messages>
            </div>
            <div class="form-select mb-3" aria-label="Default select example">
                <label class="text-blue" for="score">Score</label>
                <select  formControlName="score" class="form-control" id="score">
                    <option *ngFor="let score of skor" [value]="score.value">{{ score.title }}</option>
                </select>
            </div>

            <button class="btn btn-secondary mr-2" (click)="back()">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="card mt-2 mx-auto" *ngIf="currSection == 'language'">
    <div class="card-header text-center text-blue">
        <strong>Add Language</strong>
    </div>
    <div class="card-body">
        <form [formGroup]="langugaeForm" (ngSubmit)="add('language')">
            <div class="form-group">
                <label class="text-blue" for="title">Title</label>
                <input type="text" formControlName="title" class="form-control" id="title" placeholder="Enter Title">
                <app-control-messages [control]="langugaeForm.get('title')"></app-control-messages>
            </div>
            <div class="form-select mb-3" aria-label="Default select example">
                <label class="text-blue" for="score">Score</label>
                <select  formControlName="score" class="form-control" id="score">
                    <option *ngFor="let score of skor" [value]="score.value">{{ score.title }}</option>
                </select>
            </div>

            <button class="btn btn-secondary mr-2" (click)="back()">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="card mt-2 mx-auto" *ngIf="currSection == 'reference'">
    <div class="card-header text-center text-blue">
        <strong>Add Reference</strong>
    </div>
    <div class="card-body">
        <form [formGroup]="referenceForm" (ngSubmit)="add('reference')">
            <div class="form-group">
                <label class="text-blue" for="name">Name</label>
                <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter Name">
                <app-control-messages [control]="referenceForm.get('name')"></app-control-messages>
            </div>
            <div class="form-group">
                <label class="text-blue" for="title">Title</label>
                <input type="text" formControlName="title" class="form-control" id="title" placeholder="Enter Title">
                <app-control-messages [control]="referenceForm.get('title')"></app-control-messages>
            </div>
            <div class="form-group">
                <label class="text-blue" for="company">Company Name</label>
                <input type="text" formControlName="company" class="form-control" id="company" placeholder="Enter Company Name">
                <app-control-messages [control]="referenceForm.get('company')"></app-control-messages>
            </div>
            <div class="form-group">
                <label class="text-blue" for="email">Email</label>
                <input type="text" formControlName="email" class="form-control" id="email" placeholder="Enter Email">
                <app-control-messages [control]="referenceForm.get('email')"></app-control-messages>
            </div>
            <div class="form-group">
                <label class="text-blue" for="phone">Contact No</label>
                <input type="text" formControlName="phone" class="form-control" id="phone" placeholder="Enter Phone No">
                <app-control-messages [control]="referenceForm.get('phone')"></app-control-messages>
            </div>

            <button class="btn btn-secondary mr-2" (click)="back()">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>