.card {
    width: 50%;
    position: absolute;
    z-index: 2;
    right: 15%;
    left: 15%;
    max-height: 80%;
    overflow: scroll;
    color: #000000;
}

.card-header {
    background-color: #C8C8D1;
}

.card-body {
    background-color: #E9E9EE;
}

.form {
    background-color: #E9E9EE;
}