<router-outlet></router-outlet>
<div class="cont">
    <!-- PERSONAL DETAILS -->
    <div class="card mx-auto mt-3">
        <div class="card-header">
            <div class="row">
                <div class="col-10">
                    <strong>Personal Details</strong>
                </div>
                <div class="col-2 text-right" *ngIf="!personalDetails?.length">
                    <i class="fa fa-plus" (click)="add('personalDetails')"></i>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row rowa py-2" *ngFor="let details of personalDetails, let i of index">
                <div class="col-2 f10">
                    {{ details.job_title }}
                </div>
                <div class="col-2 f10">
                    {{ details.fname }}
                </div>
                <div class="col-2 f10">
                    {{ details.lname }}
                </div>
                <div class="col-2 f10 text-center">
                    {{ details.email }}
                </div>
                <div class="col-2 f10">
                    {{ details.phone }}
                </div>
                <div class="col-1 f10 text-right">
                    <i class="fa fa-edit" (click)="edit('personalDetails', details._id)"></i>
                </div>
                <div class="col-1 f10 text-right">
                    <i class="fa fa-trash" (click)="delete(details._id, 'personalDetails')"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- SUMMARY -->
    <div class="card mx-auto mt-3">
        <div class="card-header">
            <div class="row">
                <div class="col-10">
                    <strong>Professional Summary</strong>
                </div>
                <div class="col-2 text-right" *ngIf="!summary?.length">
                    <i class="fa fa-plus" (click)="add('summary')"></i>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row rowa py-2" *ngFor="let summ of summary, let i of index">
                <div class="col-10 f10">
                    {{ summ.summary_desc }}
                </div>
                <div class="col-1 f10 text-right">
                    <i class="fa fa-edit" (click)="edit('summary', summ._id)"></i>
                </div>
                <div class="col-1 f10 text-right">
                    <i class="fa fa-trash" (click)="delete(summ._id, 'summary')"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- EMPLOYMENT HISTORY -->
    <div class="card mx-auto mt-3">
        <div class="card-header">
            <div class="row">
                <div class="col-10">
                    <strong>Employment History</strong>
                </div>
                <div class="col-2 text-right">
                    <i class="fa fa-plus" (click)="add('employment')"></i>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row rowa py-2" *ngFor="let history of employment, let i of index">
                <div class="col-3 f10">
                    {{ history.startdate }} - {{ history.enddate }}
                </div>
                <div class="col-3 f10">
                    {{ history.title }}
                </div>
                <div class="col-4 f10">
                    {{ history.company_name }}
                </div>
                <div class="col-1 f10 text-right">
                    <i class="fa fa-edit" (click)="edit('employment', history._id)"></i>
                </div>
                <div class="col-1 f10 text-right">
                    <i class="fa fa-trash" (click)="delete(history._id, 'employment')"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- EDUCATION HISTORY -->
    <div class="card mx-auto mt-3">
        <div class="card-header">
            <div class="row">
                <div class="col-10">
                    <strong>Education Background</strong>
                </div>
                <div class="col-2 text-right">
                    <i class="fa fa-plus" (click)="add('education')"></i>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row rowa py-2" *ngFor="let education of educations, let i of index">
                <div class="col-3 f10">
                    {{ education.startdate }} - {{ education.enddate }}
                </div>
                <div class="col-3 f10">
                    {{ education.title }}
                </div>
                <div class="col-3 f10">
                    {{ education.school }}
                </div>
                <div class="col-1 f10">
                    {{ education.result }}
                </div>
                <div class="col-1 f10 text-right">
                    <i class="fa fa-edit" (click)="edit('education', education._id)"></i>
                </div>
                <div class="col-1 f10 text-right">
                    <i class="fa fa-trash" (click)="delete(education._id, 'education')"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- SKILSS -->
    <div class="card mx-auto mt-3">
        <div class="card-header">
            <div class="row">
                <div class="col-10">
                    <strong>Skills</strong>
                </div>
                <div class="col-2 text-right">
                    <i class="fa fa-plus" (click)="add('skill')"></i>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row rowa py-2" *ngFor="let skill of skills, let i of index">
                <div class="col-5 f10">
                    {{ skill.title }}
                </div>
                <div class="col-5 f10">
                    {{ skill.score }}
                </div>
                <div class="col-1 f10 text-right">
                    <i class="fa fa-edit" (click)="edit('skill', skill._id)"></i>
                </div>
                <div class="col-1 f10 text-right">
                    <i class="fa fa-trash" (click)="delete(skill._id, 'skill')"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- LANGUAGES -->
    <div class="card mx-auto mt-3">
        <div class="card-header">
            <div class="row">
                <div class="col-10">
                    <strong>Languages</strong>
                </div>
                <div class="col-2 text-right">
                    <i class="fa fa-plus" (click)="add('language')"></i>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row rowa py-2" *ngFor="let language of languages, let i of index">
                <div class="col-5 f10">
                    {{ language.title }}
                </div>
                <div class="col-5 f10">
                    {{ language.score }}
                </div>
                <div class="col-1 f10 text-right">
                    <i class="fa fa-edit" (click)="edit('language', language._id)"></i>
                </div>
                <div class="col-1 f10 text-right">
                    <i class="fa fa-trash" (click)="delete(language._id, 'language')"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- REFERENCES -->
    <div class="card mx-auto mt-3">
        <div class="card-header">
            <div class="row">
                <div class="col-10">
                    <strong>References</strong>
                </div>
                <div class="col-2 text-right">
                    <i class="fa fa-plus" (click)="add('reference')"></i>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row rowa py-2" *ngFor="let reference of references, let i of index">
                <div class="col-2 f10">
                    {{ reference.name }}
                </div>
                <div class="col-2 f10">
                    {{ reference.title }}
                </div>
                <div class="col-2 f10">
                    {{ reference.company }}
                </div>
                <div class="col-2 f10">
                    {{ reference.email }}
                </div>
                <div class="col-2 f10">
                    {{ reference.phone }}
                </div>
                <div class="col-1 f10 text-right">
                    <i class="fa fa-edit" (click)="edit('reference', reference._id)"></i>
                </div>
                <div class="col-1 f10 text-right">
                    <i class="fa fa-trash" (click)="delete(reference._id, 'reference')"></i>
                </div>
            </div>
        </div>
    </div>
</div>