.cont {
    max-height: 91%;
    overflow: auto;
}

.card {
    width: 70%;
}

.rowa {
    border: 1px dotted #C8C6C7;
}

// .completed {
//     background-color: #AFE59B;
// }

// .not-completed {
//     background-color: #E08C9D;
// }




